<div>
    <label for="firstName">First name:</label>
    {{input id="firstName" placeholder="First name" value=@player.firstName}}
</div>
<div class='error'>
    {{v-get @player 'firstName' 'message'}}
</div>

<div>
    <label for="lastName">Last name:</label>
    {{input id="lastName" placeholder="Last name" value=@player.lastName}}
</div>
<div class='error'>
    {{v-get @player 'lastName' 'message'}}
</div>

{{#if @player.id}}
    <button {{on "click" @onUpdate}}>Save</button>
{{else}}
    <button {{on "click" @onCreate}}>Save</button>
{{/if}}
