<h3>season update</h3>

<ValidatedInputGroup
    @label="season name"
    @type="text"
    @value={{model.seasonName}}
    @placeholder="Enter season name"
    @validationError={{model.validations.attrs.seasonName.message}} />

<ValidatedInputGroup
    @label="start year"
    @type="text"
    @value={{model.startYear}}
    @placeholder="Choose start year"
    @validationError={{model.validations.attrs.startYear.message}} />

<ValidatedInputGroup
    @label="end year"
    @type="text"
    @value={{model.endYear}}
    @placeholder="Choose end year"
    @validationError={{model.validations.attrs.endYear.message}} />

<button {{on "click" this.update}}>Update</button>
