<section class="filter-group">
    <section class="filter-field-group">
        <PowerSelect @options={{@selectOptions}} @selected={{this.selectedObject}}
            @onChange={{@chooseFilterField}} as |object|>
                {{object.text}}
        </PowerSelect>
    </section>

    <InputSection @id="filter-value" @type="text" @value={{@filterValueContent}} @label="Filter value" />

    <button class="filter-group-button" {{on "click" (fn @onFilterClick)}}>Filter</button>
    <button class="filter-group-button" {{on "click" (fn @onFilterResetClick)}}>Reset</button>
</section>
