<section class="input-section input-section-relative">
    <Input class="input input-border" id={{@id}} type={{@type}} @value={{@value}} required @focus-out={{@onFocusOut}} />
    <label class="label label-absolute" for={{@id}}>{{@label}}</label>
</section>
