<nav class="menu-section menu-section-fixed">
    <ul class="list">
        <li class={{if (eq this.router.currentRouteName 'index') "item active" "item"}}
            {{on "click" (fn this.onItemClick "index")}}>Home</li>

        <li class="item item-relative">
            Models
            <ul class="dropdown-list dropdown-list-absolute">
                <li class="dropdown-item" {{on "click" (fn this.onItemClick 'players.index')}}>Players</li>
                <li class="dropdown-item" {{on "click" (fn this.onItemClick 'teams.index')}}>Teams</li>
                <li class="dropdown-item" {{on "click" (fn this.onItemClick 'users.index')}}>Users</li>
            </ul>
        </li>

        <li class={{if (eq this.router.currentRouteName 'contacts') "item active" "item"}}
            {{on "click" (fn this.onItemClick 'contacts')}}>Contacts</li>
        <li class={{if (eq this.router.currentRouteName 'about') "item active" "item"}}
            {{on "click" (fn this.onItemClick 'about')}}>About</li>
    </ul>
</nav>
