<table class="model-table-group">
    <tr class="table-header-row">
        {{#each @tableData as |data|}}
            <th
                class="table-header"
                {{on "click" (fn @onHeaderClick data.fieldName)}}>
                {{data.description}} {{{if (eq @sortField data.fieldName) @sortDirectionArrow}}}
            </th>
        {{/each}}
        <th class="table-header inactive">
            {{!-- column for buttons --}}
        </th>
    </tr>

    {{#each @models as |model|}}
        {{#if model.id}}
            <tr class="table-row">
                {{#each @tableData as |data|}}
                    <td class="table-data">{{get model data.fieldName}}</td>
                {{/each}}

                <td class="table-data">
                    <button class="table-button">
                        <LinkTo @route="players.view" @model={{model.id}}>View</LinkTo>
                    </button>

                    <button class="table-button">
                        <LinkTo @route="players.update" @model={{model.id}}>Update</LinkTo>
                    </button>
                </td>
            </tr>
        {{/if}}
    {{/each}}
</table>
