{{#if (eq @models.length 0)}}
    <p class="empty-model">No records found</p>
{{else}}
    <table class="table-group">
        <tr class="table-group-header-row">
            {{#each @tableOptions as |object|}}
                <th class={{if (eq @sortField object.value) "table-group-header sorted" "table-group-header"}}
                    {{on "click" (fn @onHeaderClick object.value)}}>
                    <p class={{if (eq @sortDirection 'ASC') "asc" "desc"}}>
                        {{object.text}}
                    </p>
                </th>
            {{/each}}

            <th class="table-group-header inactive">
                {{!-- column for buttons --}}
            </th>
        </tr>

        {{#each @models as |model|}}
            {{#if model.id}}
                <tr class="table-group-row" {{on "click" (fn @onRowClick model.id)}}>
                    {{#each @tableOptions as |object|}}
                        <td class="table-group-data">{{get model object.value}}</td>
                    {{/each}}

                    <td class="table-group-data">
                        <button class="table-group-button" {{on "click" (fn @onViewButtonClick model.id)}}>
                            View
                        </button>
                        <button class="table-group-button" {{on "click" (fn @onEditButtonClick model.id)}}>
                            Edit
                        </button>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    </table>

<PaginationGroup @page={{@page}} @pageValues={{@pageValues}} @pageValuesLength={{@pageValuesLength}}
    @onPageClick={{@onPageClick}} @onPageArrowClick={{@onPageArrowClick}} @limit={{@limit}}
    @limitValues={{@limitValues}} @onLimitClick={{@onLimitClick}} />
{{/if}}
