<article class="rental">

    <div class="details">

        <h3>ID {{@user.id}}</h3>
        <h3>userName: {{@user.userName}}</h3>

        <div class="detail firstName">
            <span>firstName:</span> {{@user.firstName}}
        </div>

        <div class="detail lastName">
            <span>lastName:</span> {{@user.lastName}}
        </div>

        <div class="detail email">
            <span>email:</span> {{@user.email}}
        </div>

        <div class="detail telephone">
            <span>telephone:</span> {{@user.telephone}}
        </div>

        <div class="detail createdAt">
            <span>createdAt:</span> {{@user.createdAt}}
        </div>

    </div>

</article>