<tr>
    <td>{{@user.id}}</td>
    <td>{{@user.userName}}</td>
    <td>{{@user.firstName}}</td>
    <td>{{@user.lastName}}</td>
    <td>{{@user.email}}</td>
    <td>{{@user.telephone}}</td>
    <td>
            <button>
                <LinkTo @route="userView" @model={{@user.id}}>View</LinkTo>
            </button>

            <button>
                <LinkTo @route="userUpdate" @model={{@user.id}}>Update</LinkTo>
            </button>

            <button {{on "click" (fn @onDelete @user.id)}}>Delete</button>
    </td>
    {{!-- <td>{{@user.createdAt}}</td> --}}
</tr>