<h1>Player create</h1>

<ValidatedDataGroup
    @id="firstName"
    @type="text"
    @value={{model.firstName}}
    @label="First name"
    @showAllValidationErrors={{this.showAllValidationErrors}}
    @validationError={{model.validations.attrs.firstName.message}}
/>

<ValidatedDataGroup
    @id="lastName"
    @type="text"
    @value={{model.lastName}}
    @label="Last name"
    @showAllValidationErrors={{this.showAllValidationErrors}}
    @validationError={{model.validations.attrs.lastName.message}}
/>

<button class="create-model" {{on "click" this.create}}>Create</button>
