<h1 class="sidebar__title">Player create</h1>

<ValidatedDataGroup
    @id="firstName"
    @type="text"
    @value={{model.firstName}}
    @label="First name"
    @showAllValidationErrors={{this.showAllValidationErrors}}
    @validationError={{model.validations.attrs.firstName.message}}
/>

<ValidatedDataGroup
    @id="lastName"
    @type="text"
    @value={{model.lastName}}
    @label="Last name"
    @showAllValidationErrors={{this.showAllValidationErrors}}
    @validationError={{model.validations.attrs.lastName.message}}
/>

<section class="button-group">
    <button {{on "click" this.create}}>Create</button>
    <button {{on "click" (fn this.onCancelButtonClick)}}>Cancel</button>
</section>
