<h3>PLAYER CREATE</h3>

<ValidatedDataGroup
    @id="firstName"
    @type="text"
    @value={{model.firstName}}
    @label="First name"
    @validationError={{model.validations.attrs.firstName.message}}
/>

<ValidatedDataGroup
    @id="lastName"
    @type="text"
    @value={{model.lastName}}
    @label="Last name"
    @validationError={{model.validations.attrs.lastName.message}}
/>

<button {{on "click" this.create}}>Create</button>
