<div>
    <h3 style="float: left;">PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<label>
    <span>
        Filter field
    </span>

    <PowerSelect
        @options={{this.filterFieldValues}}
        @selected={{this.filterField}}
        @onChange={{this.selectFilterField}} as |field|>
        {{field}}
    </PowerSelect>
</label>

<label>
    <span>
        Filter value
    </span>

    <Input id="filterValue" @value={{value}} />
    <button {{on "click" (fn this.onFilterClick)}}>Filter</button>
</label>

<Players::List
    @players={{model}}

    @onHeaderClick={{this.onHeaderClick}}
    @sortDirection={{this.sortDirection}} />

<PaginationGroup
    @page={{this.page}}
    @pageValues={{this.pageValues}}
    @pageValuesLength={{this.pageValues.length}}
    @onPageDecrementClick={{this.onPageDecrementClick}}
    @onPageClick={{this.onPageClick}}
    @onPageIncrementClick={{this.onPageIncrementClick}}

    @limit={{this.limit}}
    @limitValues={{this.limitValues}}
    @onLimitClick={{this.onLimitClick}}/>
