<div>
    <h3>PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<FilterGroup
    @field={{this.field}}
    @value={{this.value}}
    @onFilterClick={{this.onFilterClick}}
/>

<TableGroup
    @modelData={{this.modelData}}
    @models={{model}}

    @onHeaderClick={{this.onHeaderClick}}
    @sortField={{this.sortField}}
    @sortDirection={{this.sortDirection}}
    @sortDirectionArrow={{this.sortDirectionArrow}}
/>

<PaginationGroup
    @page={{this.page}}
    @pageValues={{this.pageValues}}
    @pageValuesLength={{this.pageValues.length}}
    @onPageClick={{this.onPageClick}}
    @onPageArrowClick={{this.onPageArrowClick}}

    @limit={{this.limit}}
    @limitValues={{this.limitValues}}
    @onLimitClick={{this.onLimitClick}}
/>
