<div>
    <h3>PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<FilterInputGroup
    @filterFieldValues={{this.filterFieldValues}}
    @field={{this.field}}
    @value={{this.value}}

    @onFilterClick={{this.onFilterClick}}/>

<ModelTableGroup
    @tableData={{this.tableData}}
    @models={{model}}

    @onHeaderClick={{this.onHeaderClick}}
    @sortField={{this.sortField}}
    @sortDirection={{this.sortDirection}}
    @sortDirectionArrow={{this.sortDirectionArrow}}/>

<PaginationGroup
    @page={{this.page}}
    @pageValues={{this.pageValues}}
    @pageValuesLength={{this.pageValues.length}}
    @onPageDecrementClick={{this.onPageDecrementClick}}
    @onPageClick={{this.onPageClick}}
    @onPageIncrementClick={{this.onPageIncrementClick}}

    @limit={{this.limit}}
    @limitValues={{this.limitValues}}
    @onLimitClick={{this.onLimitClick}}/>
