<div>
    <h3 style="float: left;">PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<label>
    <span>
        Filter field
    </span>

    <PowerSelect
        @options={{this.filterFieldValues}}
        @selected={{this.filterField}}
        @onChange={{this.selectFilterField}} as |field|
    >
        {{field}}
    </PowerSelect>
</label>

<label>
    <span>
        Filter value
    </span>

    <Input id="filterValue" @value={{value}} />
    <button {{on "click" (fn this.onFilterClick)}}>Filter</button>
</label>

<Players::List
    @players={{model}}

    @onHeaderClick={{this.onHeaderClick}}
    @sortDirection={{this.sortDirection}}

    @limitValues={{this.limitValues}}
    @limit={{this.limit}}
    @selectLimit={{this.selectLimit}}
/>

<div class="pages">
    <p>Pages</p>

    {{#each this.pageArray as |index|}}
        <button class={{if (eq index this.page) "disabled"}}
            {{on "click" (fn this.onPageClick index)}}
        >
            {{index}}
        </button>
    {{/each}}
</div>
