<div>
    <h3 style="float: left;">PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<label>
    <span>
        Filter field
    </span>

    <Input id="filterField" @value={{field}} />
</label>

<label>
    <span>
        Filter value
    </span>

    <Input id="filterValue" @value={{value}} />
    <button {{on "click" (fn this.onFilterClick field value)}}>Filter</button>
</label>

<Players::List @players={{model}} @onHeaderClick={{this.onHeaderClick}} @sortDirection={{this.sortDirection}} />
