<h1>PLAYERS LIST</h1>

<section class="filter-create-group">
    <FilterGroup
        @field={{this.field}}
        @value={{this.value}}
        @onFilterClick={{this.onFilterClick}}
        @onFilterResetClick={{this.onFilterResetClick}}
    />

    <button {{on "click" (fn this.onCreateButtonClick)}}>Create</button>
</section>

<TableGroup
    @modelData={{this.modelData}}
    @models={{model}}

    @onHeaderClick={{this.onHeaderClick}}
    @onRowClick={{this.onRowClick}}
    @onViewButtonClick={{this.onViewButtonClick}}
    @onEditButtonClick={{this.onEditButtonClick}}
    @sortField={{this.sortField}}
    @sortDirection={{this.sortDirection}}
    @sortDirectionArrow={{this.sortDirectionArrow}}
/>

<PaginationGroup
    @page={{this.page}}
    @pageValues={{this.pageValues}}
    @pageValuesLength={{this.pageValues.length}}
    @onPageClick={{this.onPageClick}}
    @onPageArrowClick={{this.onPageArrowClick}}

    @limit={{this.limit}}
    @limitValues={{this.limitValues}}
    @onLimitClick={{this.onLimitClick}}
/>
