<div>
    <h3 style="float: left;">PLAYERS LIST, <LinkTo @route="players.create">Create new player</LinkTo>
    </h3>
</div>

<label>
    <span>
        Filter field
    </span>

    <select id="filterField">
        <option value="firstName">First name</option>
        <option value="lastName">Last name</option>
    </select>
</label>

<label>
    <span>
        Filter value
    </span>

    <Input id="filterValue" @value={{value}} />
    <button {{on "click" (fn this.onFilterClick)}}>Filter</button>
</label>

<Players::List @players={{model}} @onHeaderClick={{this.onHeaderClick}} @sortDirection={{this.sortDirection}} />
