<h1 class="sidebar__title">Players list</h1>

<Filter::Filter
    @selectOptions={{this.selectOptions}}
    @filterFieldContent={{this.filterFieldContent}}
    @chooseFilterField={{this.chooseFilterField}}
    @filterValueContent={{this.filterValueContent}}
    @onFilterClick={{this.onFilterClick}}
    @onFilterResetClick={{this.onFilterResetClick}}
/>

<TableGroup
    @tableOptions={{this.tableOptions}}
    @model={{model}}
    @onHeaderClick={{this.onHeaderClick}}
    @onRowClick={{this.onRowClick}}
    @onViewButtonClick={{this.onViewButtonClick}}
    @onEditButtonClick={{this.onEditButtonClick}}
    @sortField={{this.sortField}}
    @sortDirection={{this.sortDirection}}
    @sortDirectionArrow={{this.sortDirectionArrow}}
    @page={{this.page}}
    @limit={{this.limit}}
    @updatePaginationGroup={{this.updatePaginationGroup}}
/>
