<h3>player update</h3>

<ValidatedInputGroup
    @label="first name"
    @type="text"
    @value={{model.firstName}}
    @placeholder="Enter first name"
    @validationError={{model.validations.attrs.firstName.message}}
/>

<ValidatedInputGroup
    @label="last name"
    @type="text"
    @value={{model.lastName}}
    @placeholder="Enter last name"
    @validationError={{model.validations.attrs.lastName.message}}
/>

<button {{on "click" this.update}}>Update</button>
