<tr>
    <td>{{@user.id}}</td>
    <td>{{@user.userName}}</td>
    <td>{{@user.email}}</td>
    <td>{{@user.telephone}}</td>
    <td>{{@user.firstName}}</td>
    <td>{{@user.lastName}}</td>

    <td>
        <button>
            <LinkTo @route="users.view" @model={{@user.id}}>View</LinkTo>
        </button>

        <button>
            <LinkTo @route="users.update" @model={{@user.id}}>Update</LinkTo>
        </button>

        <button {{on "click" (fn @onDelete @user.id)}}>Delete</button>
    </td>
</tr>
