<h1 class="sidebar__title">News</h1>
<section class="news">
    <News::TagSwitcher @model={{@model}} @onItemClick={{@onItemClick}} @onResetClick={{@onResetClick}} />

    {{#each @model.news as |article|}}
        <News::NewsSingle @article={{article}} @onItemClick={{@onItemClick}} />
    {{/each}}
</section>

<PaginationGroup
    @model={{@model.news}}
    @page={{@page}}
    @limit={{@limit}}
    @updatePaginationGroup={{@updatePaginationGroup}}
/>
