<section class="news-single">
    <h2 class="news__heading">{{@model.heading}}</h2>
    <p class="news__content">{{@model.content}}</p>
    <section class="news__footer">
        <p class="news__section" {{on "click" (fn @onItemClick @model.section.name)}}>
            {{@model.section.name}}
        </p>
        <p class="news__date">
            Author: {{@model.user.userName}},
            Created: {{moment-format @model.createdAt 'DD-MM-YYYY'}}
        </p>
    </section>
</section>
