<div>

    <div>
        <label for="userName">User name:</label>
        {{input id="userName" placeholder="User name" value=model.userName}}
    </div>

    <div class='error'>
        {{v-get model 'userName' 'message'}}
    </div>

    <div>
        <label for="firstName">First name:</label>
        {{input id="firstName" placeholder="First name" value=model.firstName}}
    </div>

    <div class='error'>
        {{v-get model 'firstName' 'message'}}
    </div>

    <div>
        <label for="lastName">Last name:</label>
        {{input id="lastName" placeholder="Last name" value=model.lastName}}
    </div>

    <div class='error'>
        {{v-get model 'lastName' 'message'}}
    </div>

    <div>
        <label for="email">Email:</label>
        {{input id="email" placeholder="Email" value=model.email}}
    </div>

    <div class='error'>
        {{v-get model 'email' 'message'}}
    </div>

    <div>
        <label for="telephone">Telephone:</label>
        {{input id="telephone" placeholder="Telephone" value=model.telephone}}
    </div>

    <div class='error'>
        {{v-get model 'telephone' 'message'}}
    </div>

    <div>
        <label for="password">Password:</label>
        {{input id="password" placeholder="Password" type="password" value=model.password}}
    </div>

    <div class='error'>
        {{v-get model 'password' 'message'}}
    </div>

    <button {{on "click" this.update}}>Save</button>
    <button {{on "click" (fn this.delete @model.id)}}>Delete</button>

</div>