<UserList @users={{model}}/>

<div style="margin-top: 20px;">
    {{input value=userName placeholder="userName"}}
    {{input value=password placeholder="password"}}
    {{input value=firstName placeholder="firstName"}}
    {{input value=lastName placeholder="lastName"}}
    {{input value=email placeholder="email"}}
    {{input value=telephone placeholder="telephone"}}

    <button {{action 'create'}}>create</button>
</div>

<div style="margin-top: 20px;">
    {{input value=newUserName placeholder="userName"}}
    {{input value=newPassword placeholder="password"}}
    {{input value=newFirstName placeholder="firstName"}}
    {{input value=newLastName placeholder="lastName"}}
    {{input value=newEmail placeholder="email"}}
    {{input value=newTelephone placeholder="telephone"}}
</div>

<div>
    {{input value=updateId placeholder="id"}}

    <button {{action 'update'}}>update</button>
</div>

<div style="margin-top: 20px">
    {{input value=id placeholder="id"}}

    <button {{action 'remove'}}>remove</button>
</div>