<div>
    <div>
        <label for="userName">User name:</label>
        {{input id="userName" placeholder="User name" value=userName}}
    </div>

    <div class='error'>
        {{v-get userName 'message'}}
    </div>

    <div>
        <label for="firstName">First name:</label>
        {{input id="firstName" placeholder="First name" value=firstName}}
    </div>

    <div>
        <label for="lastName">Last name:</label>
        {{input id="lastName" placeholder="Last name" value=lastName}}
    </div>

    <div>
        <label for="email">Email:</label>
        {{input id="email" placeholder="Email" value=email}}
    </div>

    <div>
        <label for="telephone">Telephone:</label>
        {{input id="telephone" placeholder="Telephone" value=telephone}}
    </div>
    
    <div>
        <label for="password">Password:</label>
        {{input id="password" placeholder="Password" type="password" value=password}}
    </div>

    <div>
        <label for="confirmPassword">Confirm password:</label>
        {{input id="confirmPassword" placeholder="Confirm password" type="password" value=confirmPassword}}
    </div>

    <button {{on "click" this.create}}>Sign up</button>

</div>